<?xml version="1.0" encoding="utf-8"?>
<manifest package="my.org.haluan.tarbiyahdzatiyah"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:name=".application.PublicApplication"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity"
                  android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".AddAmalActivity"
                  android:label="Add Amal"
                  android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".AddMaduActivity"
                  android:label="@string/addmadu"
                  android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MaduDetails"
                  android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".UserProfileActivity"
                  android:label="@string/profile"
                  android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".AmalsDetailsActivity"
                  android:label="@string/details"
                  android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="473b04549d78094a25f9eea51cb5d4078d0b0240" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>